<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>编译助手</title>
</head>

<body>

<div>
    <button id="updateBtn">开始编译</button>
    <button id="backupBtn">开始备份</button>
    <button onclick="window.open('./backup/list')">查看备份</button>
</div>

<div class="main-container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>文件名</th>
            <th>文件长度</th>
            <th>更新时间</th>
            <th>下载地址</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item,obj : ${fileInfos}">
            <th th:text="${obj.index + 1}" scope="row">1</th>
            <td th:text="${item.file.getName()}">文件名</td>
            <td th:text="${item.getSize()}">100</td>
            <td th:text="${#dates.format(item.file.lastModified(), 'yyyy-MM-dd HH:mm:ss')}">1989-07-25</td>
            <td th:text="${item.getUrl()}">http://xxx.com</td>
        </tr>


        </tbody>
    </table>


</div>


<!-- Bootstrap&jQuery -->
<link th:href="@{/resources/css/bootstrap.min.css}" href="../resources/css/bootstrap.min.css" rel="stylesheet"/>
<link th:href="@{/resources/css/bootstrap-theme.min.css}" href="../resources/css/bootstrap-theme.min.css"
      rel="stylesheet"/>
<script th:src="@{/resources/js/jquery.min.js}" src="../resources/js/jquery.min.js"></script>
<script th:src="@{/resources/js/bootstrap.min.js}" src="../resources/js/bootstrap.min.js"></script>

<!-- 全局样式 -->
<link th:href="@{/resources/css/main.css}" rel="stylesheet" href="../resources/css/main.css"/>

<script type="text/javascript">
    Date.prototype.format = function (fmt) {
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours() % 12 == 0 ? 12 : this.getHours() % 12, //小时
            "H+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) {
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        }
        if (/(E+)/.test(fmt)) {
            fmt = fmt.replace(RegExp.$1, ((RegExp.$1.length > 1) ? (RegExp.$1.length > 2 ? "星期" : "周") : "") + "日一二三四五六".charAt(this.getDay()));
        }
        for (var k in o) {
            if (new RegExp("(" + k + ")").test(fmt)) {
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            }
        }
        return fmt;
    }
</script>

<script type="text/javascript">
    $(function () {
        //备份按钮
        $("#backupBtn").click(function () {
            $.ajax({
                'url': "./doBackup",
                'dataType': 'json',
                'type': 'POST',
                success: function (data) {
                    if (data.state == 'Success') {
                        alert('备份成功 : \n' + data.content);
                    }
                }
            })
        });


        $("#updateBtn").click(function () {
            $.ajax({
                url: './doUpdate',
                'dataType': 'json',
                'type': 'POST',
                success: function (data) {
                    if (data.state == 'Success') {
                        alert("开始时间: " + new Date(data.content.createTime).format('yyyy-MM-dd HH:mm:ss'));
                    }
                }
            })
        })


    });
</script>

</body>

</html>